{% extends 'base.html' %} {% block cta %}

<div class="container">
  <div class="row">
    {% comment %}
    <div class="col-12 px-5 pt-5">Pendaftaran</div>
    {% endcomment %}
  </div>
</div>
{% endblock cta %} {% block content %}

<div class="container">
  <div class="row my-4 rounded bg-body p-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          Daftar Pemeriksaan Pasien
        </button>
        <button
          class="nav-link"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >
          Riwayat Pemeriksaan
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
        tabindex="0"
      >
        {% for data in pendaftaran %}
        <div class="col-12 my-4">
          {% if data.daftar_konfirmasi == False %} {% else %}
          <div>
            {% if data.periksa_konfirmasi == False %}
            <div class="p-4 rounded-4 bg-body border mb-4">
              <div class="row">
                <div class="col-6">
                  <div
                    class="p-2 bg-light rounded text-dark d-flex justify-content-between"
                  >
                    <span>No : {{data.id}}</span
                    ><span
                      >Tanggal
                      :{{data.tanggal_konfirmasi|date:"d"}}-{{data.tanggal_konfirmasi|date:"M"}}</span
                    >
                  </div>

                  <table style="font-size: 11pt" class="my-2">
                    <tr>
                      <td>Nama</td>
                      <td>:</td>
                      <td class="fw-semibold">{{data.name}}</td>
                    </tr>

                    <tr>
                      <td>Jenis Kelamin</td>
                      <td>:</td>
                      <td class="fw-semibold">{{data.jeniskelamin}}</td>
                    </tr>
                  </table>

                  <div class="p-2 rounded bg-body border border-warning mb-2">
                    <span>{{data.message}}</span>
                  </div>
                </div>
                <div class="col-6">
                  <form method="POST" action="{% url 'bidan' %}">
                    {% csrf_token %}
                    <input
                      type="hidden"
                      name="periksa-id"
                      value="{{data.id}}"
                    />
                    <label>Hasil Pemeriksaan :</label>
                    <input
                      class="form-control my-2"
                      type="text"
                      name="hasil"
                      required
                    />
                    <label>Tanggal Kembali :</label>
                    <input
                      class="form-control my-2"
                      type="date"
                      name="date"
                      required
                    />
                    <input
                      class="btn btn-success w-100"
                      type="submit"
                      value="Konfirmasi"
                    />
                  </form>
                </div>
              </div>
            </div>
            {% else %} {% endif %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div
        class="tab-pane fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        tabindex="0"
      >
        {% for data in riwayat %}
        <table style="font-size: 11pt" class="my-2">
          <tr>
            <td>Nama</td>
            <td>:</td>
            <td class="fw-semibold">{{data.pasien}}</td>
          </tr>

          <tr>
            <td>Tanggal Periksa</td>
            <td>:</td>
            <td class="fw-semibold">{{data.tanggal_periksa}}</td>
          </tr>

          <tr>
            <td>Hasil Pemeriksaan</td>
            <td>:</td>
            <td class="fw-semibold">{{data.message}}</td>
          </tr>
          <tr>
            <td>Tanggal Kembali</td>
            <td>:</td>
            <td class="fw-semibold">{{data.tanggal_kembali}}</td>
          </tr>
        </table>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
